body{
	padding:0px;
	margin:0px;
}


#toolbar{
	height:30px;
	font-size:1.3em;
	padding-top:10px;
	padding-left:10px;
}
#toolbar a{
	text-decoration:none;
	color:black;
	font-family:helvetica;
	font-weight:bold;
}



#column_control{
  width: 640px;
  height: 440px;
  margin: 0px;
  font-family:helvetica;
  font-size:1.2em;
}
#column_control ul{
  width: 320px;        
  background-color:#eee;
}
#column_control ul.current_column{
}
#column_control ul li{
  padding:5px;
  list-style:none;
}
#column_control ul li.selected{
  background-color: #ccc;
  font-weight:bold;
}